<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PUBControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<PUBControl.Properties.Settings>
			<setting name="PUBClass_YTH_IYJK_Service" serializeAs="String">
				<value>http://192.168.1.252:8077/Service.asmx</value>
			</setting>
		</PUBControl.Properties.Settings>
	</applicationSettings>
	<startup/></configuration>
